html,body,#app{
  height: 100%;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
  
*, *:before, *:after {
box-sizing: inherit;
}

body{
    font-family: "Avenir", Helvetica, Arial, sans-serif;
    font-size: 13px;
}
.icon {
    width: 1em; height: 1em;
    vertical-align: -0.15em;
    fill: currentColor;
    overflow: hidden;
 }
li{
    list-style: none;
}

/* 隐藏编辑表格证书提示 */
#hot-display-license-info{
    display: none
}

/* element样式扩展 */
/* 减小element中input的padding */

/*滚动条整体样式开始*/
.mytable-scrollbar ::-webkit-scrollbar {
    width: 10px;
    height: 10px;
  }
  /*滚动条的轨道*/
  .mytable-scrollbar ::-webkit-scrollbar-track {
    background-color: #ffffff;
  }
  /*滚动条里面的小方块，能向上向下移动*/
  .mytable-scrollbar ::-webkit-scrollbar-thumb {
    background-color: #bfbfbf;
    border-radius: 5px;
    border: 1px solid #f1f1f1;
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  }
  .mytable-scrollbar ::-webkit-scrollbar-thumb:hover {
    background-color: #a8a8a8;
  }
  .mytable-scrollbar ::-webkit-scrollbar-thumb:active {
    background-color: #787878;
  }
  /*边角，即两个滚动条的交汇处*/
  .mytable-scrollbar ::-webkit-scrollbar-corner {
    background-color: #ffffff;
  }


  div ::-webkit-scrollbar {
    width: 10px;
    height: 10px;
  }
  /*滚动条的轨道*/
  div ::-webkit-scrollbar-track {
    background-color: #ffffff;
  }
  /*滚动条里面的小方块，能向上向下移动*/
  div ::-webkit-scrollbar-thumb {
    background-color: #bfbfbf;
    border-radius: 5px;
    border: 1px solid #f1f1f1;
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  }
  div ::-webkit-scrollbar-thumb:hover {
    background-color: #a8a8a8;
  }
  div ::-webkit-scrollbar-thumb:active {
    background-color: #787878;
  }
  /*边角，即两个滚动条的交汇处*/
  div ::-webkit-scrollbar-corner {
    background-color: #ffffff;
  }
/*滚动条整体样式结束*/
/* input 类型 number去掉上下键 */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
}

.sup-mini{
    /* height: 24px;
    line-height: 24px; */
}
.Bottom-Border input {
    border: none !important;
    border-radius: 0px;
    border-bottom: 1px solid #bbb !important;
  }
  .None-Border input {
    border: none !important;
    outline: none !important;
  }
 input.el-input__inner, .el-range-editor--mini.el-input__inner{
    padding:0 5px;
    /* height: 24px;
    line-height: 24px; */
}
.sup-mini .el-input--mini .el-input__icon{
    /* line-height: 24px; */
}
.sup-mini.el-date-editor--date input.el-input__inner{
    padding-left: 25px;
}
.sup-mini.el-date-editor.el-input, .sup-mini.el-date-editor.el-input__inner, .sup-mini.el-select{
    width:100%;
}
.sup-mini .el-range-editor--mini .el-range-separator{
    line-height: 16px;
}
.el-input--mini.sup-mini .el-input__icon, .el-range-editor--mini.sup-mini .el-input__icon{
    /* height: 24px;
    line-height: 24px; */
}
/* vex-table样式扩展 */
.vxe-table.size--mini .vxe-body--column:not(.col--ellipsis), .vxe-table.size--mini .vxe-footer--column:not(.col--ellipsis), .vxe-table.size--mini .vxe-header--column:not(.col--ellipsis){
    padding: 0px !important;
}


.jytableinput .vxe-table--render-default.size--mini .vxe-body--column.col--ellipsis, 
.jytableinput .vxe-table--render-default.size--mini .vxe-footer--column.col--ellipsis, 
.jytableinput .vxe-table--render-default.size--mini .vxe-header--column.col--ellipsis, 
.jytableinput .vxe-table--render-default.vxe-editable.size--mini .vxe-body--column{
    height: 28px;
}
.jygrid .vxe-table--render-default.size--mini .vxe-body--column.col--ellipsis,
.jygrid .vxe-table--render-default.size--mini .vxe-footer--column.col--ellipsis,
.jygrid .vxe-table--render-default.size--mini .vxe-header--column.col--ellipsis,
.jygrid .vxe-table--render-default.vxe-editable.size--mini .vxe-body--column{
  height: 28px
}

.jy_wrapper  .el-collapse-item__header{
    height: 30px
}
.vxe-header--column, .vxe-footer--column{
  background-color: #D5DEFF;
}


/* 模态框样式扩展 */

.jy_wrapper .el-dialog__header{
    padding-top: 8px;
    padding-bottom: 8px;
    text-align: left;
}
.noMarginBottom .el-dialog{
    margin-bottom: 0;
}

.jy_wrapper .el-dialog__body{
    padding: 12px 20px;
    border-top: 1px solid rgba(0,0,0,.1);
    border-bottom: 1px solid rgba(0,0,0,.1);
}

.jy_wrapper .el-dialog__title{
    font-size: 16px;
    font-weight: 500;
    color: rgba(0,0,0,.85);
}

.jy_wrapper  .el-dialog__headerbtn{
    top: 13px;
    right: 10px;
}
.jy_wrapper .el-dialog__footer{
    padding-bottom: 10px;
}

.sup-mini-label{
    height:28px;
    line-height:28px;
    text-align: right;
    padding-right: 2px;
    overflow: hidden;
    text-overflow:ellipsis;
    white-space:nowrap;
}

.query-list, .button-list, .data-list{
    padding: 3px;
}
.query-list .el-col{
    margin:2px 0;
}
.query-list .el-col .el-col{
    margin: 0;
}

/* 编辑页面右键菜单要在最上层 */
.vxe-table--context-menu-wrapper{
  z-index: 99999  !important;
}
/* 图片预览 要在弹出框的上层 */
.pswp{
    z-index: 3500 !important;
}